{
    "map": {},
    "filename": "tsconfig.json",
    "formatUsing": "json"
}
---
{
    "compilerOptions": {
        "target": "ES2015",
        "module": "ES2015",
        "moduleResolution": "Node",
        "esModuleInterop": true,
        "skipLibCheck": true,
        "allowSyntheticDefaultImports": true,
        "outDir": "lib",
        "declaration": true,
        "declarationDir": "types",
        "sourceMap": true,
        "declarationMap": true,
        "lib": [
            "ES2015",
            "DOM"
        ]
    },
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "node_modules"
    ]
}